/* Shared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;   
    /* 1 rem = 10px */
}
h1,h3{
    color: #606d5f;
}
p,li,a,button{
    color: #888888;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;

}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 1rem 3rem;
    border-radius: 2rem ;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}
/* Header styles */
/* Nav styles starts here */
header{
    padding: 0 20rem;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
}
header nav .logo h1{
    font-size: 3rem;
}
header nav .menu{
    display: flex;
    
}
header nav .menu a{
    margin-left: 4rem;
}
header nav .menu a li{
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
}
header nav .menu a li:hover{
    color: #4b709e;
}
/* Nav styles ends here */

/* Hero-section styles starts here */
.hero-section{
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.hero-section .hero-content{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-section .hero-content h1{
    width: 40rem;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}
.hero-content .hero-content p{
    width: 45rem;
    margin-bottom: 3rem;
}
.shop-now-btn{
    margin: 15px;
}
.hero-section .hero-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .hero-img img{
    width: 100%;
}
/* Hero-section styles ends here */